.hero {
  max-width: 1300px;
  margin: auto;
  font-size: 3rem;
  min-height: 70vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

a:hover {
  color: #dd0000;
}
.container {
  text-align: center;
  margin: auto;
}

.container .row {
  display: flex;
  margin-bottom: 10vh;
  transition: all ease 0.5s;
}

.row .circle {
  width: 2vh;
  height: 2vh;
  background-color: #fdee58;
  z-index: 2;
  margin-right: 8vh;
  transition: all ease 0.5s;
  border-radius: 50%;
}

.matrix .container {
  position: fixed;
  bottom: 50%;
  left: 10%;
  z-index: 0;

  display: flex;
  flex-direction: column;
}

.matrix .true {
  position: relative;
}

.row .true {
  height: 5vh;
  width: 5vh;
}

.img {
  width: auto;
  margin-left: 20px;
  margin-top: 10px;
}
.wrapper {
  display: flex;
  flex-direction: row;
}
.img img {
  width: 221px;
}

.hName {
  padding: 0px;
  margin: 0px;
}

.subHeading {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}
.heading {
  display: flex;
  margin-left: 20px;
  font-size: 42px;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
}

.brief {
  font-size: 16px;
  width: 70%;
  color: #555;
}

.info {
  flex-direction: column;
  justify-content: end;
}

.row .active {
  transition: all ease 0.5s;
  background: rgba(200, 200, 200, 0.5);
}
.footer {
  background: #fff;
  z-index: 10;
  border-top: 1px solid #d6d6d6;
  position: absolute;
  width: 100%;
  padding-bottom: 2%;
}

.wrap {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 10px;
  height: fit-content;
}

.endNotes {
  width: 90%;
  font-size: 28px;
  font-weight: bolder;
}

.wrap .right {
  margin-top: 20px;
  margin-left: 10px;
}

.socials {
  margin-left: 10px;
}
.navbar {
  background-color: white;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  align-items: center;
  padding: 20px 10px;
  flex-flow: row nowrap;
  justify-content: flex-start;
  border-bottom: 1px solid #d6d6d6;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
}

ul {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  align-items: center;
  width: 30%;
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-right: 3rem;
}

.nav-item {
  cursor: pointer;
}

h6 {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  line-height: 1.45;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
}

.mode {
  width: 30px;
  height: 30px;
  background: #fdef58;
  border-radius: 50%;
}
.projects {
  flex-direction: column;
  align-items: flex-start;
}

.project {
  width: 90%;
  margin-bottom: 20px;
}

.project:nth-child(even) {
  align-items: flex-end;
  text-align: right;
}

.description,
.link {
  width: 40%;
  font-size: 16px;
  font-size: 16px;
}

.description {
  color: #555;
}
.link a {
  margin-right: 0px;
}

.link a:hover {
  color: #dd0000;
}
.skills {
  display: flex;
  flex-direction: column;
  margin-top: 0%;
  max-width: 1300px;
  margin: 0px auto;
}

.skillList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3fr, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  text-align: center;
}

.skill {
  text-transform: capitalize;
  padding: 20px;
  font-size: 18px;
}
.skills h4 {
  font-size: 36px;
}

@media (max-width: 1600px) {
  .hero,
  .wrap {
    max-width: 900px;
  }
}

@media (max-width: 1200px) {
  .hero,
  .wrap {
    max-width: 700px;
  }
}

@media (max-width: 700px) {
  .skillList {
    grid-template-columns: repeat(3, 1fr);
  }
  .wrapper {
    flex-direction: column;
  }
  .img {
    width: 40%;
  }
  .brief {
    width: auto;
  }
  h2,
  h1 {
    font-size: xxx-large;
  }

  .matrix {
    bottom: 80%;
  }

  .info h1,
  h4 {
    margin-left: 20px;
  }
  .description,
  .link {
    width: 100%;
  }
  .hero {
    max-width: 95%;
    margin: auto;
  }
  .skill {
    padding: 0% auto;
  }
  .skillList {
    padding: none;
    margin: none;
  }
  .navbar,
  .sp1 {
    display: none;
  }
  .wrap {
    grid-template-columns: 1fr;
    align-items: center;
  }
  .copy,
  .socials {
    margin: auto;
  }
}
