.navbar {
  background-color: white;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  align-items: center;
  padding: 20px 10px;
  flex-flow: row nowrap;
  justify-content: flex-start;
  border-bottom: 1px solid #d6d6d6;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
}

ul {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  align-items: center;
  width: 30%;
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-right: 3rem;
}

.nav-item {
  cursor: pointer;
}

h6 {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  line-height: 1.45;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
}
