.projects {
  flex-direction: column;
  align-items: flex-start;
}

.project {
  width: 100%;
}

.project:nth-child(even) {
  align-items: flex-end;
  text-align: right;
}

.description,
.link {
  width: 40%;
  font-size: 16px;
  font-size: 16px;
}
.link a {
  margin-right: 0px;
}

.link a:hover {
  color: #fdee58;
}
